.wrapper {
    max-width: 1600px;
    min-height: 470px;
    margin: 43px auto;
}

.wrapper h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Playfair Display;
    font-size: 28px;
    color:#000;
    margin: 10px auto;
}
.divider {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;

}
.divider div {
    border: 4px solid #CAA462;
    border-radius: 100%;
    
}
.divider hr{
    width: 137px;
    border: 1px solid #CAA462
}
.itembox {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    gap:16px 8px;
    margin:0 auto;
    padding:50px;    
}
.itembox a {
    text-transform: uppercase;
    color:white;
    background: #CAA462;
    font-size: 16px;
    font-family: Playfair Display;
    padding:9px 18px;
    margin-right: 20px;
    text-decoration: none;
    margin-bottom: 10px;
}