.wrapper h1 {
    margin-top: 38px;
    font-size: 24px;
    font-family: Playfair Display;
    text-align: center;
}
.wrapper hr {
    border: 2px solid #CAA462;
    width: 300px;
    margin: 0 auto;
}