.wrapper {
   margin:0 auto;
}
.header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: left;
    background: url('../../assets/main_slider.png') no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    padding:10% ;
}

.mainText {
    display: block;
    color:white;
    font-size: 24px;
    font-weight: 400;
}

.mainDescription {
    color:white;
    font-size:64px;
    font-weight: 600;
   
}
.mainBtn {
    margin-top: 32px;
    background: none;
    padding:24px 56px;
    border: 2px solid #fff;
    color:white;
    font-size: 16px;
    font-weight: 600;
}
.mainBtn:hover {
    background: white;
    color:black;
    transition: .3s;
    
}
.mainImages {
    width: 380px;
    height: 320px;
}
.grid {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 20px;
    
}
.grid h3 {
    font-size: 24px;
    font-weight: 500;
    font-family: Playfair Display;
    
}

.mainBanner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url('../../assets/mainBanner.png');
    width: 100%;
    height: 600px;
    background-size: cover;
}
.mainBannerText {
    margin-bottom: 20px;
    text-align: center;
    font-family: Playfair Display;
    text-transform: capitalize;
    color:#fff;
    font-size: 55px;
    line-height: 63px;
}
.mainBannerDesk {
    color:#fff;
    font-family: Playfair Display;
    text-align: center;
    font-size: 25px;
    line-height: 31px;
    text-transform: capitalize;
    margin-top: 20px;
}


.brandsSpan {
    display: flex;
    justify-content: center;
    font-family: Playfair Display;
    font-size: 29px;
    text-transform: capitalize;
    padding: 20px;
    
}

.brands {
    display: flex;
    justify-content: center;
    padding:30px;
}

.brandsContent {
    margin-right: 100px;
}

.chooseSpan {
    display: flex;
    justify-content: center;
    font-family: Playfair Display;
    font-size: 29px;
    color:#fff;
    
}
.hrs {
    background-color: #151515;
    padding:100px;
    
}
.hrs hr {
    border: 2px solid #CAA462;
    width: 300px;
}
.choose {
    display: grid;
    grid-template-columns: 20% 20% 20%;
    justify-content: center;
    align-items: center;
    gap:200px;
}
.choose span {
    margin-top: 70px;
    color:#CAA462;
    width: 360px;
    height: 101px;
    font-size: 21px;
    font-family: Playfair Display;
    margin-bottom: 30px;
}
.choose span p {
    color:#fff;
    text-transform: capitalize;
    font-size: 15px;
    margin-top: 10px;
    line-height: 18px;
}
.subscribe {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.subscribe span {
    font-family: Playfair Display;
    font-size: 27px;
    text-transform: capitalize;
    padding-top: 40px;
}
.subscribe form {
    padding-top: 30px;
    padding-bottom: 50px;
}
.subscribe p {
    font-family: Playfair Display;
    text-transform: uppercase;
    font-size: 18px;
    padding-top: 40px;
}
.subscribe input {
    width: 670px;
    height: 40px;
    font-family: Playfair Display;
    border: 2px solid #CAA462;
    box-sizing: border-box;
}
.subscribe button {
    position: absolute;
    border: none;
    background-color: #CAA462;;
    height: 40px;
    color: #fff;
    font-size: 12px;
    font-family: Playfair Display;
    
}